textarea{
  resize: none;
  size-adjust: none !important;
  font-size: x-large;
  font-family: Roboto, Arial;
  margin-top:10px;
  margin-bottom: 10px;
}

h1{
  font-family: Roboto, Arial;
}

p{
  font-family: Roboto, Arial;
  font-size: large;
}

button{
  width: 260px;
  height: 50px;
  border: 0px;
  font-weight: bold;
  font-family: Roboto, Arial;
  font-size: large;
  background-color: green;
  
  color: white;
  margin-bottom: 10px;
}

button:hover{
  background-color: rgb(0, 90, 0);
}

.title {
  text-align: center;
}

.pulkun-center {
  margin: auto;
  width: 530px;
  height: 700px;
  padding: 10px;
  border: 3px solid green
}

.pulkun-buttons-div {
  margin: auto;
  width: 530px;
  height: 50px;
  flex-direction: row;
}

.home-center {
  margin: auto;
  width: 530px;
  height: 190px;
  padding: 10px;
  border: 3px solid green
}

.home-buttons-div {
  margin: auto;
  width: 530px;
  height: 120px;
}

.home-button {
  width: 530px;
}